.btn {
  @include hover-focus {
    opacity: 0.8;
  }

  display: inline-flex;
  justify-content: center;
  padding: 22px 24px;

  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  font-family: $ff-roboto-condensed;
  text-align: center;
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background-color: $color-transparent;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  user-select: none;

  &-- {
    background-color: $color-torch-red;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }
}
