@import "../variables";

.container {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 103px;

  @media (max-width: $tablet-size-max) {
    padding: 0 45px;
  }

  @media (max-width: $mobile-size-max) {
    padding: 0 15px;
  }
}
